git+https://github.com/TelegramPlayGround/pyrogram
#git+https://github.com/Mayuri-Chan/pyrofork
tgcrypto
pymongo==4.9.2
motor==3.6.0
marshmallow
umongo==3.1.0
requests
bs4
pytz
shortzy
uvloop
dnspython==2.3.0
fuzzywuzzy
aiocache
aiohttp==3.10.11
psutil
cinemagoer==2023.5.1
