#pyrofork==2.3.41
#tgcrypto
#pymongo[srv]
#motor==3.5.1
#marshmallow
#umongo==3.1.0
#requests
#bs4
#pytz
#shortzy
#cinemagoer
#uvloop
#dnspython==2.3.0
#fuzzywuzzy
#aiocache
#aiohttp
#psutil
#pyrogram==2.0.106

####################
pyrofork==2.3.40
tgcrypto
pymongo[srv]==4.8.0
motor==3.5.1
marshmallow==3.14.1
umongo==3.1.0
requests
bs4
pytz
shortzy
cinemagoer
uvloop
dnspython==2.3.0
fuzzywuzzy
aiocache
aiohttp
psutil
pyrogram==2.0.106
