pyrogram>=2.0.30
#pyrofork==2.3.45
git+https://github.com/KurimuzonAkuma/pyrogram
tgcrypto
pymongo[srv]==4.9.2 
motor==3.6.0
marshmallow
umongo==3.1.0
requests
bs4
pytz
shortzy
uvloop
dnspython==2.3.0
fuzzywuzzy
aiocache
aiohttp==3.10.11
psutil
cinemagoer==2023.5.1
